
                                        /** OBANDO LIBRARY **/

#library-details{
    padding: 2em;
}

#library-details-content{
    text-align: justify;
}

#library-details #library-details-content #library-details-img{
    margin-bottom: 2em;
    height: 200px;
    text-align: center;
    padding: 0;
}

@supports(object-fit: cover){
    #library-details #library-details-content #library-details-img img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}