
                                            /** GENERAL **/

.details-container{
    padding: 2em;
    text-align: justify;
    display: block;
}

.details-img{
    height: 230px;
    text-align: center;
}

@supports(object-fit: cover){
    .details-img img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}