
                                        /** EMPLOYMENT EXCHANGE **/

            /** GENERAL **/


#employment-details{
    padding: 2em;
    text-align: justify;
}

#employment-details-img{
    margin-bottom: 2em;
}


@supports(object-fit: cover){
    #employment-details-img img{
        padding: 1em;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}