

                                                /** GENERAL **/


#areas{
    margin: 0;
    margin-top: 60px;
}


            /** AREAS MENU **/


#areas-menu{
    height: 100vh;
    align-items: center;
}

#areas-menu #areas-menu-title{
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
}

#areas-menu #areas-menu-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    list-style: none;
}

#areas-menu #areas-menu-items li{
    margin-top: 1em;
}

#areas-menu #areas-menu-items .areas-menu-item{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}


            /** AREA CONTENT **/


.area-content{
    margin-top: 2em;
    text-align: center;
}
 
.area-content .area-cards{
    padding: auto;
    justify-content: center;
    margin: auto;
}

.area-content .area-cards .area-card{
    margin: 1em;
    border: none;
    box-shadow:0px 4px 20px -2px black;
    color: black;
}

.area-content .area-cards .area-card:hover{
    text-decoration: none;
    transform: scale(1.01);
    transition: 0.5s;
}

.card-img-container{
    height: 200px;
}

@supports(object-fit: cover){
    .card-img{
        border-radius: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}



                                        /** MEDIUM DEVICES (992px) **/

@media only screen and (max-width: 992px){
    .details-img{
        height: 150px;
    }
}



                                        /** SMALL DEVICES (768px) **/

@media only screen and (max-width: 768px){


    #areas-menu{
        display: none;
    }

    .card-title{
        font-size: 1em;
    }

    .details-title{
        font-size: 2em;
    }



}