                                            /** GENERAL **/


        /** NAVBAR **/


.navigation-bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #0b4f1d;
    box-shadow:0px 4px 20px -2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.navigation-bar .nav-brand{
    cursor: pointer;
}

.navigation-bar #nav-menu-container .nav-menu-links{
    list-style: none;
    color: white;
}
  
.navigation-bar #nav-menu-container .nav-menu-links .nav-menu-link{
    text-decoration: none;
    color: white;
    position: relative;
    float: left;
    margin: 1em;
}
  
.navigation-bar #nav-menu-container .nav-menu-links .nav-menu-link:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}


        /** LATERAL MENU **/

#navbar-toggle{
    display: none;
}

.navigation-bar #nav-menu-container .nav-menu-links .areas-lateral-menu{
    display: none;
}

                                        /** SMALL DEVICES (768px) **/

@media only screen and (max-width: 768px){


            /** NAVBAR **/


#dropdownMenuButton{
    display: none;
}


        /** LATERAL MENU **/

#navbar-toggle{
    display: block;
    position: absolute;
    right: 30px;
    font-size: 28px;
    cursor: pointer;
    z-index: 999;
}

#nav-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 75%;
    height: 100vh;
    background-color: white;
    box-shadow:0px 4px 20px -2px black;
    transition: 0.7s;
}

.navigation-bar .nav-menu-container-closed{
    right: 0%;
}
.navigation-bar .nav-menu-container-opened{
    right: -100%;
}

.navigation-bar #nav-menu-container .nav-menu-links{
    display: flex;
    flex-direction: column;
}

.navigation-bar #nav-menu-container .nav-menu-links .nav-menu-link{
    font-size: 2em;
    margin: auto;
    color: #0b4f1d;
}

.navigation-bar #nav-menu-container .nav-menu-links .nav-menu-link:hover{
    color: #0b4f1d;
}

.navigation-bar #nav-menu-container .nav-menu-links .areas-lateral-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#areas-lateral-menu-title{
    font-size: 2em;
    color: #0b4f1d;
}

.navigation-bar #nav-menu-container .nav-menu-links .areas-lateral-menu .area-item{
    margin: auto;
    text-decoration: none;
    color: #0b4f1d;
    cursor: pointer;
}
    
.navigation-bar #nav-menu-container .nav-menu-links .areas-lateral-menu .area-item:hover{
    text-decoration: none;
    color: #0b4f1d;
}


}